body {
  background-color: #21201d;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  font-family: calibri, sans-serif;
  text-align: center;
  height: 100%;
  flex: 1;
}

h1 {
  letter-spacing: 2px;
  color: #ebe5d3;
}

.input-section {
  margin: 20px;
}

input:focus {
  border: none;
  outline: none;
}

input {
  border-radius: 3rem;
  border: none;
  outline: none;
  padding: 10px;
  width: 250px;
  font-size: 18px;
  font-family: calibri;
  font-weight: 700;
  margin-right: 10px;
  border-width: 1.5px;
  background-color: #ded8c5;
}

.set-ip-btn {
  border-radius: 3rem;
  background-color: #ded8c5;
  color: #21201d;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: calibri;
}

.log-container {
  color: #21201d;
  font-weight: 500;
  font-family: calibri;
  border-radius: 1.5rem;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
  width: 80%;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  overflow-y: scroll;
  scrollbar-width: none;
}
.log-container::-webkit-scrollbar {
  display: none;
}

.log-entry {
  font-weight: 600;
  font-size: 18px;
  font-family: calibri;
  color: #21201d;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  transition: all 0.3s ease;
}

.error {
  font-weight: 600;
  font-size: 18px;
  font-family: calibri;
  color: #940000;
}

.clear-logs-btn {
  border-radius: 3rem;
  background-color: #940000;
  padding: 10px 20px;
  height: 1px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.download-btn {
  border-radius: 3rem;
  background-color: #ded8c5;
  color: #21201d;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: calibri;
}

#bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.set-ip-btn,
.download-btn {
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

.set-ip-btn:hover,
.download-btn:hover {
  border-color: #ebe5d3;
  background-color: #21201d;
  color: #ebe5d3;
}

.clear-logs-btn:hover {
  border-color: #ebe5d3;
  background-color: #b90000;
  color: #ebe5d3;
}

.footer {
  /* position: absolute; 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #ebe5d350;
  display: inline; */

    position: sticky;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #ebe5d350;
    text-align: center;
    padding: 20px;
  

}

@media (max-width: 768px) {
  input {
    width: 200px;
    font-size: 16px;
  }

  .log-container {
    width: 70%;
    padding: 8px;
  }

  .log-entry {
    font-size: 16px;
  }

  #bar {
    flex-direction: column;
    display: flex;
    width: 80%;
    margin-left: 10%;
  }

  .set-ip-btn{
    margin-top: 15px;
    width: 100rem;
  }
  .download-btn {
    width: 100rem;
  }

  .footer {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  input {
    width: 180px;
    font-size: 14px;
  }

  .log-container {
    width: 95%;
    
  }

  .log-entry {
    font-size: 14px;
  }

  .set-ip-btn, .download-btn {
    width: 100%;
  }

  .footer {
    font-size: 12px;
  }
}
